# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Virtual environments
venv/
.venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Secrets
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# nnU-Net va model fayllar (katta hajmli)
data/nnUNet_preprocessed/
data/nnUNet_raw/
data/nnUNet_results/
data/brain_tumor_dataset/
*.pt
*.pth
